In [1]:
for(num in c(1,2,3)) {print(num)}

[1] 1
[1] 2
[1] 3

In [2]:
c(1,2,3)

[1] 1 2 3

In [3]:
c(1:3)

[1] 1 2 3

In [4]:
 c(0,1,2,3,4,5)[2:4]

[1] 1 2 3

In [5]:
grep("milk.+", c("cow's milk", "milkshake", "milky", "cat", "milk1", "milk"), value = T)

[1] "milkshake" "milky"     "milk1"

In [8]:
c("tea", "coffee", "soft drink", "tea", "hot chocolate", "hot chocolate", "coffee")

[1] "tea"           "coffee"        "soft drink"    "tea"
[5] "hot chocolate" "hot chocolate" "coffee"

In [9]:
factor(c("tea", "coffee", "soft drink", "tea", "hot chocolate", "hot chocolate", "coffee"))

[1] tea           coffee        soft drink    tea           hot chocolate
[6] hot chocolate coffee
Levels: coffee hot chocolate soft drink tea

In [10]:
myfunc <- function(x, y = 2){
x = x + 10
y = y + 100
return(y)
}
myfunc(3)

[1] 102